.tree {
  height: 90vh;

  &-node {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: antiquewhite;
    text-align: center;
    line-height: 28px;
  }

  &-rich-media-node {
    // width: 200px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    background-color: #f7c616;
    border-radius: 4px;
  }
}